/*(min-width: 320px) and (max-width: 479px)`,*/
/*mobileTablet: `(min-width: 320px) and (max-width: 768px)`,*/
/*tablet: `(min-width: 426px) and (max-width: 768px)`,*/
/*laptop: `(min-width: 769px) and (max-width: 1444px)`,*/
/*desktop: `(min-width: 1445px)`*/

@media (min-width: 320px) and (max-width: 479px) {
    .is-desktop {
        display: none;
    }
    .container,
    .container-big {
        max-width: 100%;
        width: 100%;
        padding: 0 5%;
    }
    body {
        padding-top: 80px;
    }
    .header {
        height: 80px;
    }
    .main-content_mobile {
        padding-top: 40px;
    }
    .main-title {
        font-size: 25px;
        line-height: 35px;
        color: #FFFFFF;
        margin-top: 0;
    }
    .main-subtext {
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        margin-top: 15px;
    }
    .main-content_mobile .button {
        width: 100%;
        margin-top: 40px;
        height: 54px;
        line-height: 54px;
    }
    .main-blot {
        /*width: 80px;*/
        bottom: 70px;
        right: 10%;
    }
    .main-blot-img {
        width: 80px;
    }
    .main-blot-text {
        font-size: 13px;
        line-height: 15px;
        color: #4C4C4C;
        top: 23px;
        right: 18px;
    }
    .box-container {
        padding: 30px 0;
    }
    .title-box {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .why-box .subtitle-box {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .why-content {
        flex-direction: column;
    }
    .why-content-left,
    .why-content-right {
        width: 100%;
        padding: 0;
    }
    .why-content_item_title {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .why-content_item_text {
        font-size: 13px;
        line-height: 22px;
    }
    .why-content .why-content_item_icon {
        position: absolute;
        left: 0;
        top: -10px;
        width: 50px;
        height: 48px;
        background-size: 50px 48px;
    }
    .why-content_item {
        padding-left: 70px;
        margin-bottom: 30px;
    }
    .why-block-img {
        display: none;
    }
    .comfort-content {
        flex-direction: column;
        margin: 30px 0 0 0;
    }
    .comfort-content-col {
        width: 100%;
        padding: 0 5%;
        margin-bottom: 40px;
    }
    .comfort-col-img {
        width: 115px;
        margin-bottom: 20px;
    }
    .comfort-content-col .button {
        display: none;
    }
    .comfort-content-col_title {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .comfort-content-col_text {
        font-size: 14px;
        line-height: 22px;
    }
    .subtitle-box {
        font-size: 15px;
        line-height: 25px;
    }
    .home_courses-list-box .subtitle-box {
        margin-bottom: 30px;
    }
    .course-item-big {
        padding: 25px 20px;
        margin-bottom: 30px;
    }
    .title-course-item {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
        padding-top: 15px;
    }
    .subtitle-course-item {
        font-size: 15px;
        line-height: 22px;
    }
    .text-course-item {
        font-size: 14px;
        line-height: 25px;
    }
    .item-big-content {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .item-big-content-left {
        margin-top: 30px;
        width: 100%;
        padding-right: 0;
        font-size: 14px;
    }
    .item-big-content-right{
        width: 100%;
        padding-left: 0;
    }
    .item-big-content-right img {
        display: none;
    }
    .item-big-content-right .button {
        height: 48px;
        line-height: 48px;
        width: 100%;
        margin-top: 10px;
    }
    .row-courses {
        flex-direction: column;
        margin-bottom: 0;
    }
    .card-course {
        width: 100%;
        padding: 20px 25px;
        margin-bottom: 40px;
    }
    .price-card-course {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .online-opp-card {
        font-size: 14px;
    }
    .img-card-course {
        height: 75px;
        left: 35px;
        top: 15px;
    }
    .blot-card-course {
        right: -0;
        top: -20px;
    }
    .blot-card-course img {
        width: 85px;
    }
    .text-blot-card-course {
        top: 17px;
        left: 16px;
        font-size: 13px;
    }
    .home-course-item-individual {
        padding: 35px 25px;
    }
    .title-course-item_home {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .home-course-item-individual_flex {
        flex-direction: column;
    }
    .course-item-individual-left,
    .course-item-individual-center,
    .course-item-individual-right {
        width: 100%;
    }
    .online-opp-card {
        display: none;
    }
    .course-item-individual-center {
        margin-bottom: 10px;
    }
    .card-course .button,
    .home-course-item-individual .button {
        height: 48px;
        line-height: 48px;
        width: 100%;
        margin-top: 20px;
    }
    .share-text {
        font-size: 13px;
    }
    .team-content_row {
        margin: 0;
        flex-direction: column;
    }
    .team-content_col {
        width: 100%;
        padding: 0;
    }
    .teacher-name {
        font-size: 15px;
        line-height: 22px;
        margin: 20px 0 10px 0;
    }

    .teacher-position {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .teacher-text {
        font-size: 13px;
        line-height: 22px;
        color: #4C4C4C;
    }
    .team-content_col > img {
        width: 80%;
        padding-left: 10%;
    }
    .team-content {
        margin: 30px 0;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-content-left,
    .contact-content-right {
        width: 100%;
    }
    .contact-boy {
        display: none;
    }
    .contact-label,
    .contact-text {
        font-size: 15px;
        line-height: 25px;
    }
    .contact-text {
        margin-bottom: 20px;
    }
    .contact-content .subtitle-box {
        margin-bottom: 20px;
    }
    .contact-content .button {
        width: 90%;
        margin-left: 5%;
        height: 52px;
        line-height: 52px;
    }
    .contact-content-left {
        margin-bottom: 30px;
    }
    .box-gallery {
        padding: 40px 0;
    }
    .gallery-active {
        width: 100%;
    }
    .gallery_arrow-left,
    .gallery_arrow-right {
        display: none;
    }
    .footer {
        padding: 40px 0;
    }
    .footer-logo {
        display: none;
    }
    .footer-content {
        padding: 0;
    }
    .footer-top {
        display: none;
    }
    .footer-bottom {
        margin-top: 0;
        flex-direction: column;
    }
    .footer-bottom-item {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .footer_social_buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        margin: 40px auto 30px auto;
    }
    .footer_social_buttons img {
        margin: 0;
        width: 45px;
    }
    .footer-bottom-item .transparent-green {
        width: 100%;
        justify-content: center;
    }



}

@media (min-width: 480px) and (max-width: 767px) {
    .is-desktop {
        display: none;
    }
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 5%;
    }

}

@media (min-width: 768px) and (max-width: 1365px) {
    .is-mobile {
        display: none
    }
    .container {
        max-width: 100%;
        padding: 0 5%;
    }

}
@media (min-width: 1366px) and (max-width: 1600px) {
    .is-mobile {
        display: none
    }
    body {
        padding-top: 80px;
    }
    .header {
        height: 80px;
    }
    .container,
    .container-big {
        max-width: 1200px;
    }
    .main-title {
        font-size: 50px;
        line-height: 72px;
    }
    .main-subtext {
        font-size: 18px;
        line-height: 25px;
        margin-top: 15px;
    }
    .logo {
        width: 150px;
    }
    .main-title {
        margin-top: 20px;
    }
    .main-content {
        padding-top: 0;
    }
    .main-top_big-image {
        top: -30px;
    }
    .main-blot-img {
        width: 125px;
    }
    .main-blot {
        bottom: 30px;
    }
    .main-blot-text {
        top: 38px;
        right: 33px;
        font-size: 18px;
        line-height: 21px;
    }
    .main-bottom {
        margin-top: 30px;
    }
    .main-bottom-right .button {
        padding: 0 60px;
        margin-right: 50px;
    }
    .title-box {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .subtitle-box {
        font-size: 20px;
    }
    .box-container {
        padding: 50px 0;
    }
    .why-block-img img {
        width: 430px;
    }
    .comfort-col-img {
        margin-bottom: 30px;
    }
    .contact-boy {
        left: auto;
        right: 25px;
        top: 35px;
        width: 310px;
    }
    .footer-logo {
        display: none;
    }
    .main-border-wave {
        bottom: -20px;
    }

    .courses-content-left {
        width: 40%;
    }
    .courses-content-right {
        width: 60%;
    }
    .main-bottom-courses .button {
        padding: 0 60px;
    }
    .main-bottom.main-bottom-courses img {
        /*width: 200px;*/
        height: 320px;
    }
    .courses-content .main-blot {
        left: -50px;
        bottom: 14%;
        right: auto;
    }
    .main-bottom .button.purple {
        font-size: 20px;
        height: 46px;
        line-height: 46px;
    }
    .border-boxes {
        height: 13px;
    }
    .about-wave-content {
        max-width: 1200px;
    }
    .box-about {
        padding-bottom: 0;
    }
    .about-wave {
        height: 300px;
        background-size: 100vw 300px;
    }
    .about-wave-content {
        bottom: 40px;
    }
    .about-wave-content div {
        font-size: 16px;
    }
    .about-content {
        margin-bottom: 100px;
    }
    .about-results {
        font-size: 30px;
        line-height: 40px;
    }
    .logo-article {
        display: none;
    }
    .footer-content {
        padding-left: 0;
    }
}

@media (max-width: 1600px) {
    .container {
        padding: 0 1em;
    }
}