@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("./../fonts/Roboto/Roboto-Regular.ttf") format('truetype')
}
@font-face {
    font-family: 'RobotoLight';
    font-style: normal;
    font-weight: 300;
    src: url("./../fonts/Roboto/Roboto-Thin.ttf") format('truetype')
}
@font-face {
    font-family: 'RobotoLight';
    font-style: normal;
    font-weight: 300;
    src: url("./../fonts/Roboto/Roboto-Light.ttf") format('truetype')
}
@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    /*font-weight: 700;*/
    src: url("./../fonts/Roboto/Roboto-Bold.ttf") format('truetype')
}
@font-face {
    font-family: 'RussoOne';
    font-style: normal;
    font-weight: 400;
    src: url("./../fonts/Russo_One/RussoOne-Regular.ttf") format('truetype')
}
body {
    margin: 0;
    font-family: Roboto;
}
.button {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 25px;
    background-color: transparent;
    border-radius: 36px;
    /*border: none;*/
    border: 1px solid #BEFC67;
    outline: none;
    cursor: pointer;
}
.button.purple {
    font-size: 20px;
    height: 64px;
    line-height: 64px;
    background: #BC66FC;
    border: none;
    border-radius: 105px;
    padding: 0 50px;
}
.button.transparent-green {
    height: 34px;
    line-height: 34px;
    border-radius: 36px;
    background-color: transparent;
    border: 1px solid #BEFC67;
}
.button.red {
    background-color: #FF1929;
}
.button.red:hover {
    background-color: #eb1828;
}
.button.blue {
    background-color: #0D90D4;
}
.button.blue:hover {
    background-color: #0d7ec4;
}
.input {
    width: 100%;
    height: 41px;
    background: #F8F8F8;
    border: 1px solid #BDBDBD;
    border-radius: 17px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
}
.textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 17px;
    background: #F8F8F8;
    font-size: 16px;
    outline: none;
}
/*input::-webkit-input-placeholder,*/
/*input:-ms-input-placeholder,*/
/*input::placeholder,*/
/*input::-moz-placeholder,*/
/*textarea::-webkit-input-placeholder,*/
/*textarea:-ms-input-placeholder,*/
/*textarea::placeholder,*/
/*textarea::-moz-placeholder {*/
/*    font-size: 16px;*/
/*    font-style: italic;*/
/*    color: #404040;*/
/*}*/

input::-moz-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
input::-webkit-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
input:-ms-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
input::-ms-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
input::placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
textarea::-moz-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
textarea::-webkit-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
textarea:-ms-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
textarea::-ms-input-placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}
textarea::placeholder { color: #404040; font-style: italic; font-family: 'RobotoLight';}

.container {
    max-width: 1192px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container-big {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    background: #4C3260;
}
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu_wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    padding-top: 10px;
}
.menu_item {
    margin-right: 20px;
    font-size: 16px;
    color: #FFFFFF;
    height: 25px;
    cursor: pointer;
}
.menu_tel {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}
.header_buttons {
    display: flex;
    align-items: center;
}
.header_buttons img {
    margin-right: 10px;
    cursor: pointer;
}
.header_buttons button {
    margin-left: 20px;
}
.main-box {
    min-height: calc(100vh - 100px);
    background: #4C3260;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-top: 20px;
}
.main-content-left {
    width: 705px;
}
.main-content-right {
    width: 50%;
    position: relative;
    top: -30px;
}
.main-title {
    font-family: 'RobotoBold';
    font-size: 62px;
    line-height: 72px;
    margin-top: 70px
}
.main-subtext {
    font-size: 21px;
    line-height: 31px;
    margin-top: 35px;
}
.main-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.main-bottom-right {
    padding-top: 50px;
}
.main-bottom-right .button {
    padding: 0 110px;
}
.main-img-border {

}
.main-blot {
    position: absolute;
    background: transparent;
    bottom: -30px;
    right: 80px;
    cursor: pointer;
}
.main-blot-img {

}
.main-blot-text {
    color: #4C4C4C;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    text-align: center;
    top: 55px;
    right: 50px;
}
.main-border-wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.box-container {
    padding: 80px 0;
}
.why-box {
    color: #000000;
}
.title-box {
    font-size: 62px;
    font-family: 'RobotoBold';
    line-height: 72px;
    margin-bottom: 25px;
}
.subtitle-box {
    font-size: 21px;
    line-height: 31px;
}
.border-boxes {
    height: 25px;
    background: #2B2A29;
}

.footer {
    position: relative;
    padding: 60px 0 100px 0;
    background: #4C3260;
    color: #ffffff;
}
.footer-content {
    padding-left: 10%;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top {

}
.footer-title {
    font-size: 21px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer-menu_item {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.footer-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-item {
    font-size: 21px;
    font-family: 'RobotoLight';
}
.footer-item-title {
    font-family: 'Roboto';
    margin-bottom: 10px;
}
.footer-bottom-item .transparent-green {
    border: 2px solid #8CCD31;
    border-radius: 36px;
    height: 50px;
    display: flex;
    align-items: center;
}
.footer_social_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}
.footer_social_buttons img {
    margin-left: 15px;
}
.footer-logo {
    position: absolute;
    left: 5%;
    top: 70px;
}









